<div class="score">
    <div class="score__label">
        <p class="score__label-main"><%= label -%></p>
        <p class="score__label-helper"><%= helper -%></p>
    </div>
    <div class="ui labeled ticked blue slider" data-score-max="<%= max -%>" data-score-label="<%= label -%>" data-score-value="0" data-score-id="<%= id -%>"></div>
</div>